.main {
  height: 88vh;
  overflow-y: scroll;
  padding: 1rem 0;
  padding-right: 2rem;
}
.main > h1 {
  padding: 1rem 0 2rem 0;
}
.issues_main {
  padding: 1rem 0;
}
.issues {
  list-style: none;
}
.issues > h3 {
  padding: 0.5rem 0;
  font-weight: 600;
  color: #409eff;
}
.issues > p {
  line-height: 1.5;
  font-weight: 400;
  padding-bottom: 1rem;
}
.btn {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
.prev {
  color: #409eff;
  background-color: black;
  padding: 12px 15px;
  outline: none;
  border: none;
  cursor: pointer;
}
.next {
  color: #409eff;
  background-color: black;
  padding: 12px 15px;
  outline: none;
  border: none;
  margin-left: 1rem;
  cursor: pointer;
}

.prev:hover {
  color: #417db8;
  border-radius: 12px;
  background-color: rgb(40, 40, 40);
}
.next:hover {
  color: #417db8;
  border-radius: 12px;
  background-color: rgb(40, 40, 40);
}

@media screen and (max-width: 480px) {
  /* Mobile Styles */

  .issues > p {
    font-weight: 100;
    font-size: 14px;
    line-height: 1.1;
    color: rgb(203, 203, 203);
  }
}
